{% extends "base.html" %}
{% set active_page = "projects" %}
{% block title %}Projects{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/clickable-row.css') }}">
{% endblock %}

{% block content %}
<a class="btn btn-primary btn-sm" href="{{ url_for('main.index') }}">Zpět &#8617;</a>

<!-- New project window -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newProjectModal">
    Nový projekt
</button>
<!-- Modal -->
<div class="modal fade" id="newProjectModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nový projekt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- New project form -->
            <form method="post" action="{{ url_for('projects.new') }}">
                <div class="modal-body">
                    <div class="mb-3 mt-3">
                        <!-- Name -->
                        <label for="name" class="form-label">Název</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <!-- Description -->
                        <label for="description" class="form-label">Popis</label>
                        <textarea type="text" class="form-control" id="description" name="description" rows="5"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Vytvořit projekt</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="mt-3 table-fit table table-dark table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Vytvořeno</th>
            <th>&#128196;</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr class="clickable-row" data-href="{{ url_for('projects.detail', project_id=project.id)}}">
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.created_at.strftime('%d.%m.%Y %T') }}</td>
            <td>
                {% if project.attachments | length > 0 %}
                    &#10003;
                {% else %}
                    &#10005;
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block afterhtml %}
<script src="{{ url_for('static', filename='js/clickable-row.js') }}"></script>
{% endblock %}