{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Home{% endblock %}


{% block content %}
<h2>Statistiky</h2>
<hr>
<div>Počet projektů: <span class="badge bg-secondary">{{ project_count }}</span>, celková hodnota: <span class="badge bg-secondary">NaN</span> Kč.</div>
<br>
<div>Počet plateb: <span class="badge bg-secondary">NaN</span>, celkově zaplaceno: <span class="badge bg-secondary">NaN</span> Kč.</div>
<br>
<div>Počet příloh: <span class="badge bg-secondary">{{ attachment_count }}</span>, využití disku: <span class="badge bg-secondary">{{ (attachment_total_file_size / 1024 / 1024) | round(2) }}</span> MB.</div>
{% endblock %}